name: CI

on:
    push:
        branches:
            - '2.x'
    pull_request:
        branches:
            - '*'
    workflow_dispatch:

permissions:
    contents: read # to fetch code (actions/checkout)

jobs:
    testsuite-linux:
        runs-on: ubuntu-24.04
        strategy:
            fail-fast: false
            matrix:
                php-version: [ '8.1', '8.2', '8.3' ]
                db-type: [ sqlite, mysql, pgsql ]

        services:
            postgres:
                image: postgres:14
                env:
                    POSTGRES_PASSWORD: postgres
                ports:
                    - 5432:5432
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

        steps:
            -   uses: actions/checkout@v4

            -   name: Setup MySQL
                if: matrix.db-type == 'mysql'
                run: |
                    sudo service mysql start
                    mysql -h 127.0.0.1 -u root -proot -e 'CREATE DATABASE cakephp;'

            -   name: Setup Postgres
                if: matrix.db-type == 'pgsql'
                run: |
                    PGPASSWORD=postgres psql -h 127.0.0.1 -U postgres -c 'GRANT ALL ON SCHEMA public to postgres;'

            -   name: Install pg_dump
                if: matrix.db-type == 'pgsql'
                run: sudo apt-get install postgresql-client

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    extensions: mbstring, intl, pdo_${{ matrix.db-type }}
                    ini-values: zend.assertions=1
                    coverage: pcov

            -   name: Composer install
                uses: ramsey/composer-install@v3
                with:
                    dependency-versions: ${{ matrix.dependencies }}
                    composer-options: ${{ matrix.composer-options }}

            -   name: Run PHPUnit
                run: |
                    if [[ ${{ matrix.db-type }} == 'sqlite' ]]; then
                        export DB_URL=sqlite:///testdb.sqlite3
                    fi
                    if [[ ${{ matrix.db-type }} == 'mysql' ]]; then
                        export DB_URL=mysql://root:root@127.0.0.1/cakephp
                    fi
                    if [[ ${{ matrix.db-type }} == 'pgsql' ]]; then
                        export DB_URL=postgres://postgres:postgres@127.0.0.1/postgres
                    fi
                    if [[ ${{ matrix.php-version }} == '8.2' ]]; then
                        vendor/bin/phpunit --coverage-clover=coverage.xml
                    else
                        vendor/bin/phpunit
                    fi

            -   name: Code Coverage Report
                if: success() && matrix.php-version == '8.2'
                uses: codecov/codecov-action@v4

    cs-stan:
        name: Coding Standard & Static Analysis
        runs-on: ubuntu-22.04

        steps:
            -   uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.2'
                    extensions: mbstring, intl
                    coverage: none
                    tools: phive, cs2pr

            -   name: Composer install
                uses: ramsey/composer-install@v3

            -   name: Install PHP tools with phive.
                run: "phive install --trust-gpg-keys 'CF1A108D0E7AE720,51C67305FFC2E5C0,12CE0F1D262429A5'"

            -   name: Run phpcs
                if: always()
                run: vendor/bin/phpcs --report=checkstyle src/ tests/ | cs2pr

            -   name: Run psalm
                if: always()
                run: tools/psalm --output-format=github

            -   name: Run phpstan
                if: always()
                run: tools/phpstan analyse --error-format=github

